# LangChain Core
langchain
langchain-core
langchain_experimental

# OpenAI Integration
langchain-openai
openai
pypdf
beautifulsoup4
# Anthropic Integration
langchain-anthropic
grandalf

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
langchain-community

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
grpcio==1.59.3
sentence-transformers
numpy

torch==2.2.2
numpy==1.26.4

# vector


tiktoken